/* background colors */
@header-bg: #151515;
@floor-color: #0f0f0f;
@sidebar-box-bg: #151515;
@item-hover-bg: #191919;
//@item-selected-bg: #223333;
@item-selected-bg: #1d2f29;
@main-content-bg: #1d1d1d;

/* line colors */
@header-line: #000;
@sidebar-vert-line: #000;
@sidebar-item-border: #1a1a1a;
@sidebar-tag-border: #303030;

/* text colors */
@header-text-color: #606060;
@base-text-color: #aaa;
@sidebar-headers-color: #757575;
@item-link-color: #888;
