/* background colors */
@header-bg: #151515;
@floor-color: #0f0f0f;
@sidebar-box-bg: #151515;
@item-hover-bg: #191919;
@item-selected-bg: #202020; //#1d2f29;, #223333;
@main-content-bg: #1d1d1d;

/* line colors */
@header-line: #000;
@sidebar-vert-line: #000;
@sidebar-item-border: #202020;
@sidebar-item-sel-border: #4fab8c;
@sidebar-tag-border: #303030;

/* text colors */
@header-text-color: #606060;
@base-text-color: #9a9a9a;
@sidebar-headers-color: #757575;
@item-link-color: #888;
@tag-selected-link: #999;
