/* base */
@col-body-bg: #0f0f0f;

/* header */
@col-header-bg: #0f0f0f; //#151515;
@col-header-text: #606060;

/* separation lines */
@col-header-line: #000;

/* additional box e.g. sidebars */
@col-abox-bg: #151515;
@col-abox-sep-line: #000;
@col-abox-header-text: #757575;
@col-abox-header-text-inactive: ; // ToDo

/* add. box item */
@col-abox-item-text: #606060; //#888;
@col-abox-item-border: #202020;
/* add. box item hover */
@col-abox-item-bg-hover: #191919;
@col-abox-item-text-hover: #888;
/* add. box item selected */
@col-abox-item-bg-selected: #202020; //#1d2f29;, #223333;
@col-abox-item-text-selected: #939393;
@col-abox-item-border-selected: #4fab8c;
/* add box tag */
@col-abox-tag-text: #707070;
@col-abox-tag-border: #303030;

/* main */
@col-main-content-bg: #1d1d1d;
@col-base-text: #9a9a9a;
@col-types-hi-all: #4fab8c;
@col-types-hi-notes: #4c4c4c;
@col-types-hi-links: #2d25a7;
@col-types-hi-images: #cc770d;
